@model (Wycieczka, IEnumerable<GOT.Models.Trasa>)

<head>
    <link rel="stylesheet" href="~/css/trasyPartial.css"/>
    <script src="~/js/createTrip.js"></script>
</head>

<li class="list-group">
    @if (Model.Item2.Any())
    {
        <div class="column header">
            <p class="text">Trasy z @Model.Item2.ElementAtOrDefault(0).PunktStartowy.Nazwa</p>
        </div>
        @foreach (var item in Model.Item2.Select((x, i) => new { Index = i + 1, Value = x }))
        {
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" onclick="myFunction('@item.Value.ID')">
                <div class="column">
                    <p class="TrailTittle">@item.Index. @item.Value.PunktStartowy.Nazwa - @item.Value.PunktKoncowy.Nazwa</p>
                    <p>
                        <small>Długość: @item.Value.Dlugosc | Podejścia: @item.Value.SumaPodejsc | Punkty: @item.Value.PunktyZaTrase</small>
                    </p>
                </div>
            </a>
        }
    }
    else
    {
        <div class="column header">
            <p class="text">Trasy wycieczki</p>
        </div>
        @if (Model.Item1.Trasy.Any())
        {
            @foreach (var item in Model.Item1.Trasy.Select((x, i) => new { Index = i + 1, Value = x }))
            {
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="column">
                        <p class="TrailTittle">@item.Index. @item.Value.PunktStartowy.Nazwa - @item.Value.PunktKoncowy.Nazwa</p>
                        <p>
                            <small>Długość: @item.Value.Dlugosc | Podejścia: @item.Value.SumaPodejsc | Punkty: @item.Value.PunktyZaTrase</small>
                        </p>
                    </div>
                </a>
            }
        }
    }
</li>
<script>
    function myFunction(TrailID) {
        $.ajax({
            url: "/PlanujWycieczke/GetPartial",
            data: { trasaID: TrailID },
            dataType: 'html',
            success: function (partialView) {
                $('#div1').html(partialView);
            }
        });
        
    }
    var TrailsList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Item1.Trasy));
    calculateAndDisplayTrail(TrailsList);
    console.log(TrailsList);
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
}
